{% extends "layout.html" %}

{% block title %}
    Register to Donate
{% endblock %}

{% block main %}
    <h1>Thank You For Registering to Donate</h1>
    <br>
    Password must contain:
    <br>
    One Number
    <br>
    One Special Char
    <br>
    Be 8 Chars Long
    <br>
    <br>
    <form action="/register" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="firstName" name="firstName" placeholder="First Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="lastName" name="lastName" placeholder="Last Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password confirmation" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}